@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero section -->
<section id="infinite" class="text-white tm-font-big tm-parallax">
    <!-- Navigation -->


    <div class="text-center tm-hero-text-container">
        <div class="tm-hero-text-container-inner">
            <h2 class="">Ertuğ Uygurlu</h2>
            <p class="tm-hero-subtitle">
                <h2 class="">Vektörel Bilişim</h2>
                <h2 class="">Kütüphane Projesi</h2>
            </p>
        </div>
    </div>

    <div class="tm-next tm-intro-next">
        <a href="#whatwedo" class="text-center tm-down-arrow-link">
            <i class="fas fa-2x fa-arrow-down tm-down-arrow"></i>
        </a>
    </div>
</section>

<section id="whatwedo" class="tm-section-pad-top">

    <div class="container">

        <div class="row tm-content-box">
            <!-- first row -->
            <div class="col-lg-12 col-xl-12">
                <div class="tm-intro-text-container">
                    <h2 class="tm-text-primary mb-4 tm-section-title">Kütüphanemizde Neler Var?</h2>
                    <p class="mb-4 tm-intro-text">
                        Kütüphanemiz zengin ve çeşitli bir koleksiyona sahiptir. Romanlar, kurgu dışı eserler, çocuk kitapları, teknoloji ve bilim, sanat ve edebiyat gibi farklı türlerde kitaplar bulunmaktadır. Popüler yazarların eserleri ve farklı dillerde kitaplar mevcuttur. Ayrıca, yeni eklenenler, önerilen kitaplar ve özel koleksiyonlar da keşfedilmeyi bekliyor. Her yaş ve ilgi alanına hitap eden kaynaklarımızı keşfetmek için sizi bekliyoruz!
                    </p>
                </div>
            </div>

        </div><!-- first row -->

        <div class="row tm-content-box">
            <!-- second row -->
            <div class="col-lg-1">
                <i class="far fa-3x fa-chart-bar text-center tm-icon"></i>
            </div>
            <div class="col-lg-5">
                <div class="tm-intro-text-container">
                    <h2 class="tm-text-primary mb-4">Pazar Analizi</h2>
                    <p class="mb-4 tm-intro-text">
                        Kütüphanemizde sunulan hizmetleri inceleyerek, kullanıcılarımızın ihtiyaçlarına en iyi şekilde yanıt verme amacı taşıyoruz. Zengin ve çeşitli içerik koleksiyonumuz sayesinde her yaş ve ilgi alanına hitap edebilmekteyiz. Kitap türleri, popüler yazarlar, dil ve ülke bazında kategoriler, dijital kaynaklar gibi çeşitli unsurlarla zenginleştirdiğimiz koleksiyonumuzla, her türlü okuma tutkusu ve araştırma merakını karşılamayı hedefliyoruz. Kullanıcılarımızın memnuniyetini artırmak için sürekli olarak içerik ve hizmet kalitemizi geliştirmeye yönelik çalışmalarımızı sürdürüyoruz.
                    </p>
                </div>
            </div>

            <div class="col-lg-1">
                <i class="far fa-3x fa-comment-alt text-center tm-icon"></i>
            </div>
            <div class="col-lg-5">
                <div class="tm-intro-text-container">
                    <h2 class="tm-text-primary mb-4">Hızlı Destek</h2>
                    <p class="mb-4 tm-intro-text">
                        Kütüphane web sitemizin hızlı destek ekibi, her türlü soru, öneri ve sorununuz için burada. Size en iyi hizmeti sunabilmek için hazırız. Herhangi bir soru veya yardıma ihtiyacınız olursa, lütfen bizimle iletişime geçmekten çekinmeyiniz.
                    </p>
                </div>
            </div>

        </div><!-- second row -->

        <div class="row tm-content-box">
            <!-- third row -->
            <div class="col-lg-1">
                <i class="fas fa-3x fa-fingerprint text-center tm-icon"></i>
            </div>
            <div class="col-lg-5">
                <div class="tm-intro-text-container">
                    <h2 class="tm-text-primary mb-4">Kullanıcı Güvenliği Önemlidir</h2>
                    <p class="mb-4 tm-intro-text">
                        Sizlerin gizliliği ve güvenliği bizim için önceliklidir. Kütüphanemizi kullanırken verilerinizin korunması için gereken tüm önlemleri aldığımızı bilmenizi isteriz.

                        Sitemizi güvenli bağlantılarla koruruz ve kişisel bilgileriniz gizli tutulur. Güçlü şifreleme yöntemleri kullanarak verilerinizin güvenliğini sağlarız.
                    </p>

                </div>
            </div>

            <div class="col-lg-1">
                <i class="fas fa-3x fa-users text-center tm-icon"></i>
            </div>
            <div class="col-lg-5">
                <div class="tm-intro-text-container">
                    <h2 class="tm-text-primary mb-4">Sosyal Çalışmalar</h2>
                    <p class="mb-4 tm-intro-text">
                        Kütüphanemiz, sadece kitapları değil, aynı zamanda toplumsal dayanışmayı da destekler. Sosyal projelerimiz ve etkinliklerimizle, toplumun her kesimine ulaşmayı hedefliyoruz. Eğitim, bilinçlendirme ve yardımlaşma çabalarımızla, birlikte daha güçlü ve adil bir geleceğe doğru ilerliyoruz.
                    </p>

                </div>
            </div>

        </div><!-- third row -->

    </div>

</section>

<section id="testimonials" class="tm-section-pad-top tm-parallax-2">
    <div class="container tm-testimonials-content">
        <div class="row">
            <div class="col-lg-12 tm-content-box">
                <h2 class="text-white text-center mb-4 tm-section-title">Yönetim Kadrosu</h2>
                <p class="mx-auto tm-section-desc text-center">
                    Kütüphanemizin yönetim kadrosu olarak, kültürel zenginliğin ve bilgi paylaşımının merkezi olan kütüphanemizi etkin ve verimli bir şekilde yönetmek için buradayız. Amacımız, sizlere en iyi hizmeti sunarak öğrenmeyi teşvik etmek, kaynaklara kolay erişim sağlamak ve kütüphanemizi topluluğumuzun güçlü bir parçası haline getirmektir. Sizlere yardımcı olmaktan ve kütüphanemizi geliştirmek için çalışmaktan memnuniyet duyarız.
                </p>
                <div class="mx-auto tm-gallery-container tm-gallery-container-2">
                    <div class="tm-testimonials-carousel">
                        <figure class="tm-testimonial-item">
                            <img src="~/template/img/testimonial-img-01.jpg" alt="Image" class="img-fluid mx-auto">
                            <blockquote>Koleksiyon Yöneticisi olarak, kütüphanemizin sayısız düşünce ve keşif kapısını yönetmek ve zenginleştirmek için buradayım. Her bir kitap ve kaynak, okuyucularımızın ilgi alanlarını ve bilgi ihtiyaçlarını karşılamada birer araç olarak benim için önem taşıyor.</blockquote>
                            <figcaption>Merve Kaya (Koleksiyon Yöneticisi)</figcaption>
                        </figure>

                        <figure class="tm-testimonial-item">
                            <img src="~/img/ertug4.jpg" alt="Image" class="img-fluid mx-auto">
                            <blockquote>Kütüphanemizin yol gösterici Müdürü olarak, her yaştan okuyucuya ilham vermek ve bilgiye erişimi kolaylaştırmak için buradayım. Kütüphane ortamını zenginleştirmek ve topluluğumuzu bir araya getirmek amacıyla tutkuyla çalışıyorum.</blockquote>
                            <figcaption>Ertuğ Uygurlu(Kütüphane Müdürü)</figcaption>
                        </figure>

                        <figure class="tm-testimonial-item">
                            <img src="~/template/img/testimonial-img-03.jpg" alt="Image" class="img-fluid mx-auto">
                            <blockquote>Kullanıcı Hizmetleri Yöneticisi olarak, kütüphanemizin kapılarını açarken aynı zamanda sıcak gülümsemelerle karşılayan bir el olduğumu düşünüyorum. Kullanıcıların bilgiye erişimini kolaylaştırmanın yanı sıra, her bir ziyaretçinin kütüphane deneyimini unutulmaz kılmak için çalışıyorum.</blockquote>
                            <figcaption>Sevda Sarı (Kullanıcı Hizmetleri Yöneticisi)</figcaption>
                        </figure>

                        <figure class="tm-testimonial-item">
                            <img src="~/template/img/testimonial-img-04.jpg" alt="Image" class="img-fluid mx-auto">
                            <blockquote>Teknoloji ve Dijital Hizmetler Yöneticisi olarak, kütüphanenin geleceğini şekillendiren dijital çağın getirdiği olanakları en iyi şekilde kullanmak için buradayım. Kullanıcılarımıza modern teknolojilerle zenginleştirilmiş dijital kaynaklar sunarak, bilgiye erişimi daha hızlı ve etkili hale getirmeyi amaçlıyorum.</blockquote>
                            <figcaption>Tuğçe Elmas (Teknoloji ve Dijital Hizmetler Yöneticisi)</figcaption>
                        </figure>

                        <figure class="tm-testimonial-item">
                            <img src="~/template/img/testimonial-img-02.jpg" alt="Image" class="img-fluid mx-auto">
                            <blockquote>İletişim ve Pazarlama Yöneticisi olarak, kütüphanemizin sesini duyurmak ve topluluğumuza ulaşmak için enerjim ve yaratıcılığımı kullanıyorum. Etkili iletişim ve çarpıcı pazarlama stratejileriyle kütüphanenin hizmetlerini ve etkinliklerini geniş kitlelere duyurarak, toplumsal etkileşimi artırmayı amaçlıyorum.</blockquote>
                            <figcaption>Emre Bölük (İletişim ve Pazarlama Yöneticisi)</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tm-bg-overlay"></div>
</section>

<section id="gallery" class="tm-section-pad-top">
    <div class="container tm-container-gallery">
        <div class="row">
            <div class="text-center col-12">
                <h2 class="tm-text-primary tm-section-title mb-4">Kolleksiyon</h2>
                <p class="mx-auto tm-section-desc">
                    Galerimiz, talep gören en seçkin eserleri bir araya getiriyor. İşte sizin için özenle seçtiğimiz kitaplardan sadece birkaçı...
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="mx-auto tm-gallery-container">
                    <div class="grid tm-gallery">
                        <a href="~/img/sefiller-13.jpg">
                            <figure class="effect-honey tm-gallery-item">
                                <img src="~/img/sefiller-13.jpg" alt="Image 1" class="img-fluid">
                                <figcaption>
                                    <h2><i>Victor Hugo <span>SEFİLLER</span></i></h2>
                                </figcaption>
                            </figure>
                        </a>
                        <a href="~/img/suc-ve-ceza-10.jpg">
                            <figure class="effect-honey tm-gallery-item">
                                <img src="~/img/suc-ve-ceza-10.jpg" alt="Image 2" class="img-fluid">
                                <figcaption>
                                    <h2><i>Dostoyevski <span>SUÇ VE CEZA</span></i></h2>
                                </figcaption>
                            </figure>
                        </a>
                        <a href="~/img/lord.jpg">
                            <figure class="effect-honey tm-gallery-item">
                                <img src="~/img/lord.jpg" alt="Image 3" class="img-fluid">
                                <figcaption>
                                    <h2><i>J.R.R.Tolkien <span>YÜZÜKLERİN EFENDİSİ</span></i></h2>
                                </figcaption>
                            </figure>
                        </a>
                        <a href="~/img/moby-dick-506.jpg">
                            <figure class="effect-honey tm-gallery-item">
                                <img src="~/img/moby-dick-506.jpg" alt="Image 4" class="img-fluid">
                                <figcaption>
                                    <h2><i>Herman Melville <span>MOBY DİCK</span></i></h2>
                                </figcaption>
                            </figure>
                        </a>
                        <a href="~/img/donusum.jpg">
                            <figure class="effect-honey tm-gallery-item">
                                <img src="~/img/donusum.jpg" alt="Image 5" class="img-fluid">
                                <figcaption>
                                    <h2><i>Franz Kafka <span>DÖNÜŞÜM</span></i></h2>
                                </figcaption>
                            </figure>
                        </a>
                        <a href="~/img/agatha.jpg">
                            <figure class="effect-honey tm-gallery-item">
                                <img src="~/img/agatha.jpg" alt="Image 6" class="img-fluid">
                                <figcaption>
                                    <h2><i> Agatha Christie <span>KÖŞKTEKİ ESRAR</span> </i></h2>
                                </figcaption>
                            </figure>
                        </a>
                        <a href="~/img/babalar-ve-ogullar-7.jpg">
                            <figure class="effect-honey tm-gallery-item">
                                <img src="~/img/babalar-ve-ogullar-7.jpg" alt="Image 7" class="img-fluid">
                                <figcaption>
                                    <h2><i>Ivan Sergeyeviç Turgenyev <span>BABALAR VE OĞULLAR</span></i></h2>
                                </figcaption>
                            </figure>
                        </a>
                        <a href="~/img/hayvan-ciftligi-3.jpg">
                            <figure class="effect-honey tm-gallery-item">
                                <img src="~/img/hayvan-ciftligi-3.jpg" alt="Image 8" class="img-fluid">
                                <figcaption>
                                    <h2><i>George Orwell <span>HAYVAN ÇİFTLİĞİ</span></i></h2>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact -->
<section id="contact" class="tm-section-pad-top tm-parallax-2">

    <div class="container tm-container-contact">

        <div class="row">

            <div class="text-center col-12">
                <h2 class="tm-section-title mb-4">Bizimle İletişime Geçin</h2>
                <p class="mb-5">
                    Sizden haber almak ve sizinle iletişim kurmak için sabırsızlanıyoruz. Kütüphanemiz hakkındaki her türlü düşünceyi, soruyu veya geri bildirimi paylaşmaktan mutluluk duyarız.

                    Siz de bizimle aşağıdaki iletişim formu aracılığıyla iletişime geçebilirsiniz. Adınızı, e-posta adresinizi ve mesajınızı bize ileterek, sizinle iletişime geçmemizi sağlayabilirsiniz.

                    Ayrıca, her türlü sorunuz için aşağıdaki iletişim bilgilerinden bize ulaşabilirsiniz:
                </p><br>
            </div>

            <div class="col-sm-12 col-md-6">
                <form action="" method="get">
                    <input id="name" name="name" type="text" placeholder="Adınız" class="tm-input" required />
                    <input id="email" name="email" type="email" placeholder="Emailiniz" class="tm-input" required />
                    <textarea id="message" name="message" rows="8" placeholder="Mesaj" class="tm-input" required></textarea>
                    <button type="submit" class="btn tm-btn-submit">Gönder</button>
                </form>
            </div>

            <div class="col-sm-12 col-md-6">

                <div class="~/template/contact-item">
                    <a rel="nofollow" href="" class="item-link">
                        <i class="far fa-2x fa-comment mr-4"></i>
                        <span class="mb-0">Çevrimiçi Sohbet</span>
                    </a>
                </div>

                <div class="~/template/contact-item">
                    <a rel="nofollow" href="mailto:mail@company.com" class="item-link">
                        <i class="far fa-2x fa-envelope mr-4"></i>
                        <span class="mb-0">ertu_ygrl@hotmail.com</span>
                    </a>
                </div>

                <div class="~/template/contact-item">
                    <a rel="nofollow" href="https://www.google.com/maps" class="item-link">
                        <i class="fas fa-2x fa-map-marker-alt mr-4"></i>
                        <span class="mb-0">Lokasyon</span>
                    </a>
                </div>

                <div class="~/template/contact-item">
                    <a rel="nofollow" href="tel:0100200340" class="item-link">
                        <i class="fas fa-2x fa-phone-square mr-4"></i>
                        <span class="mb-0">255-662-5566</span>
                    </a>
                </div>

                <div class="~/template/contact-item">&nbsp;</div>

            </div>


        </div><!-- row ending -->

    </div>

    <footer class="text-center small tm-footer">
        <p class="mb-0">
            Ertuğ Uygurlu Kütüphane Projesi
        </p>
    </footer>

</section>