html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/* Button */
.table tr .btn-warning {
    width: 162px !important;
}

/* Button */
.table tr .btn-danger {
    width: 144px !important;
}

/* Th */
.table tr th {
    padding-right: 0px;
    margin-left: 0px;
}

/* Th */
.container .table thead tr th {
    width: 757px !important;
}

/* Table */
.container .table {
    transform: translatex(0px) translatey(0px);
    padding-right: 119px;
}

